body.pug-mode {
    filter: sepia(1) brightness(.8);
    background-color: antiquewhite;
    --theme: gray;
    --primary: gray;
    --content: gray;
    --entry: rgba(255, 255, 255, 0.3);
    --border: none;
    scrollbar-width: thin;
    scrollbar-color: gray #faead7;
}

/* Scrollbar track (background) */
body.pug-mode::-webkit-scrollbar {
    background-color: rgba(250, 235, 215, 1) !important;
}

body.pug-mode::-webkit-scrollbar-track {
    background: rgba(250, 235, 215, 1) !important;
}

/* Scrollbar handle (the draggable part) */
body.pug-mode::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, .5) !important;
    border: 5px solid rgba(250, 235, 215, 1) !important;  /* Ensure no borders */
}

/* Hover effect for the handle */
body.pug-mode::-webkit-scrollbar-thumb:hover {
    background-color: darken(gray, 10%);  /* If you're not using a preprocessor, replace this with a static color. */
}


#moon, #sun, #pug {
    display: none;
}

body:not(.dark):not(.pug-mode) #sun,
body.dark #moon,
body.pug-mode #pug {
    display: block;
}
